*.md text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
# Vendored license / provenance files: keep LF so the shipped text matches
# upstream byte-for-byte (UPSTREAM.json carries per-file sha256 hashes).
LICENSE text eol=lf
LICENSE.md text eol=lf
LICENSE.txt text eol=lf
UPSTREAM.json text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ico binary
*.png binary
*.exe binary
*.dll binary
*.node binary
